body {
    perspective: 1000px;
    width: 100%;
    height: 98vh;
    margin: 0;
}

.backgroundimg {
    width: 100%;
    height: 100%;
    /* background-image: url(./images/1.jpg), url(./images/2.jpg); */
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: contain;
    animation: backgroundAnim 60s infinite;

}

#choujiang {
    padding-top: 80px;
}

.box1 {
    width: 100%;
    height: 200px;
    text-align: center;
}

.jiangpin {
    width: 100%;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    border: 2px solid green;
    margin-bottom: 20px;
}

.choujiangBTN {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: red;
    color: white;
}

.choujiangTimes {
    font-size: 14px;
    color: rgb(33, 6, 238);
}

.tips {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    width: 200px;
    height: 190px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background-image: url('./images/tip1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 0px */
}

.bingo {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.openModal {
    display: flex;
    float: right;
    margin-right: 6%;
    text-decoration: none;
    font-size: 22px;
    color: red;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 190px;
    right: 5%;
    width: 200px;
    height: 250px;
    background-color: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background-image: url('./images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -40px;
    animation: modalBackgroundAnim 15s infinite;
}

.modal h2 {
    text-align: center;
}

.modal .hadjiangpin {
    text-align: center;
    padding-top: 18px;
    font-size: 17px;
    font-style: oblique;
    line-height: 28px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.show, .modal-overlay.show, .tips.show {
    display: block;
}


.closeModal1, .closeModal2 {
    position: absolute;
    bottom: 10px;
    right: 90px;
    font-size: 18px;
    cursor: pointer;
  }

@keyframes modalBackgroundAnim {
    0% {
        background-image: url("./images/modal2.jpg");
    }
    20% {
        background-image: url("./images/modal3.jpg");
    }
    40% {
        background-image: url("./images/modal4.jpg");
    }
    60% {
        background-image: url("./images/modal5.jpg");
    }
    80% {
        background-image: url("./images/modal6.jpg");
    }
    100% {
        background-image: url("./images/modal2.jpg");
    }
}

/* 
  思路：
  真实图片和动画图片同时出发，真实图片透明度逐渐变为0，动漫图片透明度逐渐变为1
  同时第二张真实照片在最低层从右往左到最左边，透明度也是从0到1
  往后在重复动作

*/

@keyframes backgroundAnim {
    0% {
        background-image: url("./images/1.jpg"), url("./images/blank.jpg");
        background-position: 0 0, 100% 0;
    }

    10% {
        background-image: url("./images/1change.jpg"), url("./images/2.jpg");
        background-position: 100% 0, 0 0;
    }

    11% {
        background-image: url("./images/1change.jpg"), url("./images/2.jpg");
        background-position: 100% 0, 0 0;
    }

    11.00000001% {
        background-image: url("./images/2.jpg"), url("./images/1change.jpg");
        background-position: 0 0, 100% 0;
    }

    21% {
        background-image: url("./images/2change.jpg"), url("./images/3.jpg");
        background-position: 100% 0, 0 0;
    }

    22% {
        background-image: url("./images/2change.jpg"), url("./images/3.jpg");
        background-position: 100% 0, 0 0;
    }

    22.00000001% {
        background-image: url("./images/3.jpg"), url("./images/2change.jpg");
        background-position: 0 0, 100% 0;
    }

    32% {
        background-image: url("./images/3change.jpg"), url("./images/4.jpg");
        background-position: 100% 0, 0 0;
    }

    33% {
        background-image: url("./images/3change.jpg"), url("./images/4.jpg");
        background-position: 100% 0, 0 0;
    }

    33.00000001% {
        background-image: url("./images/4.jpg"), url("./images/3change.jpg");
        background-position: 0 0, 100% 0;
    }

    43% {
        background-image: url("./images/4change.jpg"), url("./images/5.jpg");
        background-position: 100% 0, 0 0;
    }

    44% {
        background-image: url("./images/4change.jpg"), url("./images/5.jpg");
        background-position: 100% 0, 0 0;
    }

    44.00000001% {
        background-image: url("./images/5.jpg"), url("./images/4change.jpg");
        background-position: 0 0, 100% 0;
    }

    54% {
        background-image: url("./images/5change.jpg"), url("./images/6.jpg");
        background-position: 100% 0, 0 0;
    }

    55% {
        background-image: url("./images/5change.jpg"), url("./images/6.jpg");
        background-position: 100% 0, 0 0;
    }

    55.00000001% {
        background-image: url("./images/6.jpg"), url("./images/5change.jpg");
        background-position: 0 0, 100% 0;
    }

    65% {
        background-image: url("./images/6change.jpg"), url("./images/2.jpg");
        background-position: 100% 0, 0 0;
    }

    66% {
        background-image: url("./images/6change.jpg"), url("./images/2.jpg");
        background-position: 100% 0, 0 0;
    }

    66.00000001% {
        background-image: url("./images/2.jpg"), url("./images/6change.jpg");
        background-position: 0 0, 100% 0;
    }

    76% {
        background-image: url("./images/2change.jpg"), url("./images/8.jpg");
        background-position: 100% 0, 0 0;
    }

    77% {
        background-image: url("./images/2change.jpg"), url("./images/8.jpg");
        background-position: 100% 0, 0 0;
    }

    77.00000001% {
        background-image: url("./images/8.jpg"), url("./images/2change.jpg");
        background-position: 0 0, 100% 0;
    }

    87% {
        background-image: url("./images/8change.jpg"), url("./images/9.jpg");
        background-position: 100% 0, 0 0;
    }

    88% {
        background-image: url("./images/8change.jpg"), url("./images/9.jpg");
        background-position: 100% 0, 0 0;
    }

    88.00000001% {
        background-image: url("./images/9.jpg"), url("./images/2change.jpg");
        background-position: 0 0, 100% 0;
    }

    98% {
        background-image: url("./images/9change.jpg"), url("./images/1.jpg");
        background-position: 100% 0, 0 0;
    }

    100% {
        background-image: url("./images/9change.jpg"), url("./images/1.jpg");
        background-position: 100% 0, 0 0;
    }

}



/* 阴阳师f4部分 */

.yinyangshi>div {
    position: absolute;
    left: 0;
}

.f1 {
    bottom: 0px;
    width: 154px;
    height: 121px;
    background-image: url(./images/txgc_6d0e9e5.png);
    animation: move_f4 4s linear infinite, walk1 .3s steps(2) infinite;
}

.f2 {
    bottom: 0px;
    width: 167px;
    height: 176px;
    background-image: url(./images/txgh_fee2457.png);
    animation: move_f4 4s 1s linear infinite, walk2 .3s steps(2) infinite;
}

.f3 {
    bottom: 0px;
    width: 161px;
    height: 149px;
    background-image: url(./images/txgl_c15cfd8.png);
    animation: move_f4 4s 2s linear infinite, walk3 .3s steps(2) infinite;
}

.f4 {
    bottom: 0px;
    width: 171px;
    height: 157px;
    background-image: url(./images/txgq_d281c9b.png);
    animation: move_f4 4s 3s linear infinite, walk4 .3s steps(2) infinite;
}

@keyframes move_f4 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        left: 100%;
        transform: translate(100%);
    }
}

@keyframes walk1 {
    0% {}

    100% {
        background-position: 308px 0;
    }
}

@keyframes walk2 {
    0% {}

    100% {
        background-position: 334px 0;
    }
}

@keyframes walk3 {
    0% {}

    100% {
        background-position: 322px 0;
    }
}

@keyframes walk4 {
    0% {}

    100% {
        background-position: 342px 0;
    }
}